.aboutUsImage {
  width: 100;
  height: 100px;
}

#aboutUsDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.webcam {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
}

#demogif {
  width: 200px;
  height: 200px;
  padding: 5px;
}

#videoNoShow {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  display: none !important;
}

.nav-logo {
  max-width: 90px;
  max-height: 90px;
}

.carousel {
  justify-content: center;
}

.carouselImage {
  width: 400px;
  height: 400px;
}

.posesImage {
  width: 400px;
  height: 400px;
  margin: 10px;
}

.trainingImage {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.allPosesDiv {
  position: relative;
  top: 300px;
}

.countdownDiv {
  position: relative;
  top: 100px;
}

.cameraDiv {
  position: relative;
  left: 700px;
  top: 600px;
}

#results {
  text-align: center;
}

#resultsContent {
  width: 75%;
  display: inline-block;
}

#resultHeading {
  padding: 30px;
}

.progress-bar {
  margin: 60 0 60 0;
}

.card {
  overflow-wrap: initial;
  overflow: scroll;
  height: 350px;
}

.button-warning > a {
  color: #ffffff;
}

.poseContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.poseContainer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

body {
  background-image: url('https://i.imgur.com/X0rA4FH.png');

  min-height: 100%;
}

.homepage {
  margin-top: 75px;
  padding: 5px;
}

.redBorder {
  border: solid 2px red;
  margin: 10px;
}

.boxed {
  border: solid 2px yellow;
  margin: 30px;
  padding: 30px;
  background-color: white;
}
