.aboutUsImage {
  width: 100;
  height: 100px;
}

#aboutUsDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#appName {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
  font-weight: bold;
  font-size: x-large;
  color: indigo;
}

.webcam {
  max-width: 700px;
  padding: 10px;
  margin-right: 50px;
}

#demogif {
  width: 200px;
  height: 200px;
  padding: 5px;
}

#videoNoShow {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  display: none !important;
}

.nav-logo {
  max-width: 90px;
  max-height: 90px;
}

.carousel {
  justify-content: center;
}

.carouselImage {
  width: 400px;
  height: 400px;
}

.posesImage {
  width: 400px;
  height: 400px;
  margin: 10px;
}

.trainingImage {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.allPosesDiv {
  position: relative;
  top: 300px;
}

.countdownDiv {
  position: relative;
  top: 100px;
}

#results {
  text-align: center;
}

#resultsContent {
  width: 75%;
  display: inline-block;
}

#resultHeading {
  padding: 10px;
}

.progress-bar {
  margin: 60 0 60 0;
}

.aboutUsCard {
  overflow-wrap: initial;
  overflow: auto;
  height: 350px;
  background-color: "";
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  /* word-wrap: break-word; */
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 15px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(224, 224, 224, 0.5);
}

.button-warning > a {
  color: #ffffff;
}

.poseContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.poseContainer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

body {
  background-image: url("https://i.imgur.com/X0rA4FH.png");

  min-height: 100%;
}

.homepage {
  margin-top: 50px;
  padding: 5px;
}

.redBorder {
  border: solid 2px red;
  margin: 10px;
}

.boxed {
  border: solid 2px yellow;
  margin: 30px;
  padding: 30px;
  background-color: white;
}

.cameraDiv {
  left: 700px;
  top: 600px;
}

.container {
  background: #ffd107;
  text-align: center;
  height: auto;
  width: 75%;
  line-height: 1.5;
  margin: 5% 10% 10% 10%;
  color: #424242;
}

#head {
  margin-top: 30px;
}
.resultImage {
  max-width: 100px;
  max-height: 100px;
}

.countdown {
  font-size: 75px;
  color: red;
}

.referImg{
  width:200px;
  height:400px;
  padding-top:30px;
}
